$theme: null !default;

@use 'sass:map';
@use './variables.scss';
@use './../grc-theme/utils';

@use "./../../../node_modules/devextreme/scss/widgets/material/sizes" with ($size: "compact");

@use "./../../../node_modules/devextreme/scss/widgets/material/scrollable/colors" as scrollable-colors with (
  $scrollable-scroll-bg: utils.get($theme, 'color.background.secondary-rest'),
);

@use "./../../../node_modules/devextreme/scss/widgets/material/checkBox/colors" as checkBox-colors with (
  $checkbox-icon-border-radius: 4px,
  $checkbox-border-color: utils.get($theme, 'color.border.secondary-rest'),
  $checkbox-hover-border-color: utils.get($theme, 'color.border.secondary-hover'),
);

@use "./../../../node_modules/devextreme/scss/widgets/material/checkBox/sizes" as checkBox-sizes with (
  $material-checkbox-border-radius: 4px,
);

@use "./../../../node_modules/devextreme/scss/widgets/material/textEditor/colors" as textEditor-colors with (
  $texteditor-placeholder-color: utils.get($theme, 'color.foreground.neutral'),
  $texteditor-bg: utils.get($theme, 'color.background.neutral-lightest'),
  $texteditor-hover-bg: utils.get($theme, 'color.background.neutral-hover'),
  $texteditor-button-clear-icon-color-bg: utils.get($theme, 'color.background.secondary-rest'),
  $texteditor-button-clear-icon-color: utils.get($theme, 'color.foreground.secondary-rest'),
  // $texteditor-input-border-radius: 99999px,
  // $texteditor-border-color: utils.get($theme, 'color.'),
  // $texteditor-hover-border-color:,
  // $texteditor-focused-border-color,
);

@use "./../../../node_modules/devextreme/scss/widgets/material/textBox/colors" as textBox-colors with (
  $textbox-search-icon-color: utils.get($theme, 'color.foreground.neutral'),
);


@use "./../../../node_modules/devextreme/scss/widgets/material/button/colors" as button-colors with (
  $button-default-bg: utils.get($theme, 'color.background.primary-rest'),
  $button-default-hover-bg: utils.get($theme, 'color.background.primary-hover'),
  $button-default-focused-bg: utils.get($theme, 'color.background.primary-hover'),
  $button-default-active-bg: utils.get($theme, 'color.background.primary-pressed'),
  $button-border-radius: 99999px,
  // $button-normal-color: inherit,
  // $button-normal-icon-color: red,
);

@use "./../../../node_modules/devextreme/scss/widgets/material/button/sizes" as button-sizes with (
  $material-button-horizontal-padding: 24px,
  $material-button-vertical-padding: 8px,
  $material-button-height: 38px,
  // $material-text-button-horizontal-padding: 8px;
);

@use "./../../../node_modules/devextreme/scss/widgets/material/gridBase/sizes" as gridBase-sizes with (
  $material-grid-base-cell-font-size: 14px,
  $material-grid-base-cell-line-height: 17.5px,
  $material-grid-base-cell-height: 44px,
  $material-grid-base-header-height: 44px,

  $material-grid-base-header-line-height: 17.5px,
);

@use "./../../../node_modules/devextreme/scss/widgets/material/gridBase/colors" as gridBase-colors with (
  $datagrid-columnchooser-item-color: utils.get($theme, 'color.foreground.secondary-rest'),
  $header-filter-color-empty: utils.get($theme, 'color.foreground.secondary-rest'),
  
  $datagrid-selection-bg: utils.get($theme, 'color.background.primary-active'),
  $datagrid-hover-bg: utils.get($theme, "color.background.secondary-inactive-hover"),
);

@use "./../../../node_modules/devextreme/scss/widgets/material/tabs/colors" as tabs-colors;/* with (
  $tabs-tab-color: utils.get($theme, 'color.foreground.neutral-dark'),
);*/

@use "./../../../node_modules/devextreme/scss/widgets/material/badge/colors" as badge-colors with (
  $badge-bg: utils.get($theme, 'color.background.primary-lightest'),
  $badge-color: utils.get($theme, 'color.foreground.neutral-dark'),
);

@use "./../../../node_modules/devextreme/scss/widgets/material/toolbar/colors" as toolbar-colors with (
  $toolbar-bg: transparent,
  $toolbar-color: inherit,
);

@use "./../../../node_modules/devextreme/scss/widgets/material/typography";
@use "./../../../node_modules/devextreme/scss/widgets/material/icons";
@use "./../../../node_modules/devextreme/scss/widgets/material/widget";
@use "./../../../node_modules/devextreme/scss/widgets/material/card";
@use "./../../../node_modules/devextreme/scss/widgets/material/fieldset";
@use "./../../../node_modules/devextreme/scss/widgets/material/common";
@use "./../../../node_modules/devextreme/scss/widgets/base/resizable";
@use "./../../../node_modules/devextreme/scss/widgets/base/draggable";
@use "./../../../node_modules/devextreme/scss/widgets/base/ui";
@use "./../../../node_modules/devextreme/scss/widgets/material";

@use "./../../node_modules/devexpress-gantt/dist/dx-gantt.css";
@use "./dx-styles.scss";

// @use "./dx-dashboard.scss";
// @use "./dx-reporting.scss";
