@use "vars" as *;
@use 'overrides';

:host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

:host ::ng-deep {
  @include overrides.dx-drawer-panel-content() {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
  }
}

.layout-body {
  flex: 1;
  min-height: 0;
  background-color: $base-bg;
}

.content {
  position: relative;
  flex-grow: 1;
  width: 100%;
}
