@use "../../../variables.scss" as *;
@use "sass:math";

$side-panel-toolbar-height: 76px;

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@include separator();

.view-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-areas: "main panel" "main panel" "main panel";
  grid-template-rows: auto minmax(0, 1fr);

  .data-grid {
    height: 100%;
    display: flex;
    overflow: hidden;
    margin-inline: 16px;
  }

  ::ng-deep .clickable-row {
    cursor: pointer;
  }

  .name-template {
    margin: -6px 0;

    .position {
      font-size: 12px;
      color: #757575de;
    }
  }

  .grid-header {
    @include header();
  }

  ::ng-deep {
    > .dx-toolbar {
      width: auto;
      margin-inline: 16px;
      padding: 20px 0 11px;
      border-bottom: 1px solid $base-border-color;
    }
  }

  .details-panel {
    position: relative;
    display: flex;
    grid-area: panel;
  }

  user-panel {
    display: inherit;
  }

  ::ng-deep .filter-tabs {
    .dx-tab {
      padding: 11px 16px;
      background-color: $background-color;
    }

    .dx-tab-content, .dx-tab-text {
      text-transform: none;
    }

    .dx-tab.dx-tab-selected::before {
      bottom: -2px;
    }

    .dx-badge {
      margin-left: 8px;
      padding: 4px 10px;
      background-color: #0082994f;
      color: black;
      transform: translateY(1px);
    }
  }  

  ::ng-deep .search-panel .dx-toolbar-item-content {
    margin-left: 15px;
  }
}

.edit-cell {
  position: relative;

  contact-status {
    position: absolute;
    margin-top: 10px;
    margin-left: 11px;
  }
}
