@use "sass:math";
@use 'utils';

@mixin status($status-color, $contrast) {
  background-color: $status-color;
  color: $contrast;
}

span.status {
  /*display: inline-flex;
  gap: 4px;
  align-items: center;*/
  border-radius: 9999px;
  padding: 4px 8px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: math.div(16, 12);

  &.input {
    display: block;
    padding: 15px 16px 14px;
  }

  /*span:first-child {
    line-height: 1
  }*/

  &.status-aktiv {
    @include status(
      utils.color('background', 'signal-positive'),
      utils.color('foreground', 'signal-positive')
    );
  }

  &.status-abgelehnt {
    @include status(
      utils.color('background', 'signal-danger'),
      utils.color('foreground', 'neutral-lightest')
    );
  }

  &.status-pruefung {
    @include status(
      utils.color('background', 'signal-warning'),
      utils.color('foreground', 'neutral-darkest')
    );
  }

  &.status-entwurf {
    @include status(
      utils.color('background', 'neutral'),
      utils.color('foreground', 'neutral-darkest')
    );  
  }
}
