@use "../../../../variables.scss" as *;

.user-info {
  display: flex;
  align-items: center;

  :host-context(.dx-toolbar-menu-section) & {
    padding: 10px 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .image-container {
    overflow: hidden;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    margin: 0 4px;
    border-radius: 9999999px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .user-image {
      width: 100%;
      height: 100%;
      
      background: url("https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/images/employees/01.png") no-repeat #fff;
      background-size: cover;
    }
  }

  .user-details {
    text-align: start;
  }

  .user-name {
    font-size: 14px;
    color: $base-text-color;
    font-weight: 700;
    margin: 0 9px;
    line-height: 1;
  }

  .user-title {
    font-size: 10px;
    color: $base-text-color;
    font-weight: 500;
    margin: 3px 9px 0;
    line-height: 1;
    white-space: nowrap;
  }
}

.user-panel ::ng-deep {
  .dx-list-item .dx-icon {
    vertical-align: middle;
    color: $base-text-color;
    margin-right: 16px;
  }

  .dx-rtl .dx-list-item .dx-icon {
    margin-right: 0;
    margin-left: 16px;
  }
}

::ng-deep .dx-context-menu.user-menu {
  &.dx-rtl {
    .dx-submenu .dx-menu-items-container .dx-icon {
      margin-left: 16px;
    }
  }

  .dx-submenu .dx-menu-items-container .dx-icon {
    margin-right: 16px;
  }

  .dx-menu-item .dx-menu-item-content {
    padding: 3px 15px 4px;
  }
}

::ng-deep .dx-theme-generic .user-menu .dx-menu-item-content .dx-menu-item-text {
  padding-left: 4px;
  padding-right: 4px;
}
