/* stylelint-disable no-duplicate-selectors */
@use "../../../../variables.scss" as *;

:host {
  position: relative;
}

.border {
  position: absolute;
  top: 0;
  left: 247px;
  bottom: 0;
  width: 3px;
  opacity: 0.5;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.1) 1px, rgba(0, 0, 0, 0) 100% );
  transition: all 400ms ease;

  &[data-compact="true"] {
    left: 63px;
  }
}

.menu-container {
  padding: 16px 0;
}

.menu-group {
  padding-left: 12px;
  padding-right: 12px;

   & + & {
    padding-top: 32px;
   }

   .menu-group-label + dx-tree-view {
    margin-top: 8px;
   }

  
}

.menu-group-label {
  padding-left: 10px;
  color: #5E6C84;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;

  .icon {
    display: none;
    position: absolute;
    top: 0;
    left: 8px;
  }

  .menu-container[data-compact="true"] & {
    .text { visibility: hidden; }
    .icon { display: block; }
  }
}

.menu-container ::ng-deep .dx-treeview-item-content > * {
  transition: all 200ms ease;
}

.menu-container[data-compact="true"] ::ng-deep .dx-treeview-item-content > span {
  opacity: 0;
  visibility: hidden;
}

.menu-container[data-compact="true"] ::ng-deep .dx-state-selected:not(.dx-state-focused) > .dx-treeview-item {
  background-color: transparent !important;

  .dx-icon {
    background-color: rgba(189,197,209,.2);
  }
}

:host .menu-container[data-compact="true"] ::ng-deep .dx-treeview .dx-treeview-node-container .dx-treeview-node:hover > .dx-treeview-item {
  background-color: transparent !important;
}

:host .menu-container[data-compact="true"] ::ng-deep .dx-treeview .dx-treeview-node-container .dx-treeview-node:hover > .dx-treeview-item .dx-icon {
  background-color: rgba(189,197,209,.2);
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 250px !important;
  background-color: $side-panel-background;


  
  .menu-container {
    min-height: 100%;
    flex: 1;

    ::ng-deep .dx-treeview {
      .dx-treeview-item {
        border-radius: 4px;
      }

      // ## Long text positioning
      white-space: nowrap;

      // ##

      .dx-scrollable-content {
        > .dx-treeview-node-container:first-child {
          > .dx-treeview-node:first-child {
            > .dx-treeview-item {
              box-shadow: inset 0 4px 8px rgb(0, 0, 0, 0.05);

              .screen-large & {
                box-shadow: none;
              }
            }
          }
        }
      }

      // ## Icon width customization
      .dx-treeview-item {
        padding: 8px 0;

        .dx-icon {
          width: 40px !important;
          height: 20px;
          border-radius: 12px;
          margin-top: -8px !important;
          margin-bottom: -8px !important;
          padding: 8px 0;
          display: inline-block;
          box-sizing: content-box;
        }
      }

      .dx-item-content {
        display: flex;
        align-items: center;
      }

      .menu-item-text {
        flex-grow: 1;
      }

      .menu-item-badge {
        background-color: #DFE1E6;
        color: #172B4D;
        display: inline-flex;
        position: relative;
        margin-inline-end: 10px;
        padding-block: 2px;
        padding-inline: 6px;
        border-radius: 8px;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
      }

      // ##

      // ## Arrow customization
      .dx-treeview-node {
        padding: 0 0 !important;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
      }

      // ##

      // ## Item levels customization
      .dx-treeview-node {
        &[aria-level="1"] > .dx-treeview-node-container > li:last-child {
          padding-bottom: 32px !important;
        }

        
      }

      // ##
    }

    // ## Selected & Focuced items customization
    ::ng-deep .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node {
          > .dx-treeview-item * {
            color: #42526E;
          }

          &.dx-state-selected:not(.dx-state-focused) > .dx-treeview-item {
            background-color: #EBECF0;
          }
          
          &:hover > .dx-treeview-item {
            background-color: #EBECF0 !important;
          }

          &[aria-level="1"]:not(.dx-state-focused) > .dx-treeview-item.dx-state-hover {
            background-color: transparent;
          }

          &:not([aria-level="1"]):not(.dx-state-focused) > .dx-treeview-item.dx-state-hover {
            background-color: darken($base-bg, 4);
          }
        }
      }
    }

    :host-context(.dx-theme-generic) ::ng-deep.dx-treeview {
      .dx-treeview-node-container .dx-treeview-node.dx-state-selected.dx-state-focused > .dx-treeview-item * {
        color: inherit;
      }
    }

    // ##
  }
}
