@use 'sass:color';

$primary: (
  0: #15204C,
  10: #203072, 
  20: #2B4099, 
  30: #4060E5, 
  40: #8095EE, 
  50: #BFCAF6, 
  60: #D9DFFA, 
  70: #ECEFFC, 
  80: #F0F2FD, 
  alpha-80: color.change(#15204C, $alpha: 0.8),
);

$secondary: (
  0: #242631,
  10: #363949,
  20: #494D61,
  30: #6D7392,
  40: #B5BAD0,
  50: #CED0DB,
  60: #E1E3EC,
  70: #F2F4FD,
  80: #F9FAFE,
);

$neutral: (
  0: #000000,
  10: #272C33,
  20: #393F47,
  30: #4D535C,
  40: #606770,
  50: #757C85,
  60: #8C939D,
  70: #ACB3BE,
  80: #CDD2DA,
  90: #DFE3EA,
  95: #F4F5F7,
  99: #F8F9FA,
  100: #FFFFFF,
);

$signal-positive: (
  10: #1A2B22,
  20: #2B4838,
  30: #81D8A8,
  40: #C0EBD3,
  50: #E6F7EE,
);

$signal-danger: (
  10: #4C1520,
  20: #992B41,
  30: #E54061,
  40: #F29FB0,
  50: #FCE5EB,
);

$signal-warning: (
  10: #653508,
  20: #CC7B2F,
  30: #F59439,
  40: #FFCA99,
  50: #FFF2E7,
  60: #FDEAD7,
);
