@use "vars" as *;
@use 'utils';
@use 'overrides';

:host {
  flex: 0 0 auto;
  z-index: 1;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.15);
  position: relative;

  &::after {
    height: 4px;
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
    background: linear-gradient(rgba(9, 30, 66, 0.13) 0px, rgba(9, 30, 66, 0.13) 1px, rgba(9, 30, 66, 0.08) 1px, rgba(9, 30, 66, 0) 4px);
    content: "";
  }
}

::ng-deep .dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 5px 0 40px;

  :host-context(.screen-x-small) & {
    padding: 0 20px;
  }
}

::ng-deep .dx-toolbar .dx-toolbar-item.menu-button {
  text-align: center;
  padding: 0 11px 0 18px;
}

::ng-deep .header-title .dx-item-content {
  padding: 0;
  margin: 0;
}

:host-context(.dx-theme-generic) {
  .dx-toolbar {
    padding: 10px 0;
  }

  .user-button > .dx-button-content {
    padding: 3px;
  }
}

:host ::ng-deep .search-input {
  @include overrides.dx-texteditor-outlined() {
    box-shadow: none;
    background-color: utils.color('background', 'neutral-lightest');
  }
}

header {
  padding: 5px 0;
  background-color: utils.color('background', 'primary');
  color: utils.color('foreground', 'neutral-lightest');

  .user-button.authorization {
    margin-left: 10px;
  }

  ::ng-deep .header-icon-btn {
    padding-left: 12px;
  }
}

.btn-with-badge {
  position: relative;
}

:host ::ng-deep .toolbar-btn {
  @include overrides.dx-button-icon() {
    color: utils.color('foreground', 'neutral-lightest');
  }
}


.badge {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 99999px;
  background-color: #fff;
  color: #008299;
  right: 0;
  top: -3px;
  font-size: 10px;
  line-height: 1;
}
